<%- include('header') -%>

    <h1>About me</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptatem laborum illo doloremque error explicabo
        accusantium aliquid dolor. Temporibus, eos ea. Ratione eligendi adipisci non aliquam atque itaque, assumenda
        nemo?</p>
    <%- include('footer') -%>