<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is it</title>
</head>

<body>
    <h1>
        <%= kindOfDay %>
    </h1>
    <ul>
        <% if (itemEls) { %>
            <% itemEls.map(item=> { %>
                <li>
                    <%= item %>
                </li>
                <% }) %>
                    <% } %>
    </ul>
    <form action="/" method="post">
        <input type="text" name="newItemInput" id="newItemInput">
        <button type="submit">Add item</button>
    </form>
</body>

</html>